h1{
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
    padding-top: 25px;
}
a{
    align-items: center;
}
#ieee{
    background-color: mintcream;
    margin: 20px;
    border-radius: 20px;
    border: 6px inset black;
}
.event{
    text-align: center;
}
link{
    text-align: center;
    padding-left: 50%;
    margin-left: 500px;
}
